@import '../../common'

.contact
    margin-top: 3rem !important
    +flex(start, stretch, column, 1.5rem)
    .contact-mean
        .seperator
            margin: 0 0 0.25rem 0
    .social-media
        +flex(start, center, row, 0.5rem)
    #form
        font-size: 75%
        max-width: 700px
        +flex(start, stretch, column, 0.5rem)
        .checkbox
            font-size: 150%
            width: fit-content
            .checkbox-label
                font-size: 70%
        .btn
            align-self: flex-end
            width: fit-content
        *
            font-size: inherit

@media screen and (max-width: 480px)
    .contact
        .social-media
            .btn
                height: auto
                span
                    display: none !important
        #form
            .btn
                width: 100%
