@import '../../common'

.hero
    position: relative
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    *
        // outline: 2px dashed green
    .decoration
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1
        .decoration__glow, .decoration__img
            position: absolute
            top: 0
            right: 0
        .decoration__img
            transform: rotate(180deg)
    .hero__content
        padding: 0 0 2rem 0
        +flex(start, start, column, 0.5rem)
        .hero__content__title
            #br2
                display: none
    .hero__offer
        overflow: visible
        .banner
            overflow: visible
            position: relative
            font-size: 80%
            padding: 0.5rem 1rem 0.5rem 0.5rem
            width: fit-content
            background-color: #333333
            border-radius: 0 20px 20px 0
            &::before
                content: ''
                position: absolute
                top: 0
                left: -20%
                width: 20%
                height: 100%
                background-color: #333333
                border-radius: 20px 0 0 20px
            .icon-sale
                position: absolute
                +size(2.5rem, 2.5rem)
                transform: translate(-50%, -50%) rotate(-30deg)
                left: 100%
            .title
                text-transform: uppercase
                margin-bottom: 0.5rem
            .content
                line-height: 100%
                overflow: hidden
            .details

@media screen and (max-width: 550px)
    .hero .decoration
        .decoration__glow
            top: -20% !important
        .decoration__img
            +size(400px, auto)
            transform: rotate(180deg) !important
            right: -15% !important

@media screen and (max-width: 390px)
    .hero .decoration
        .decoration__img
            +size(350px, auto)

@media screen and (min-width: 550px)
    .hero .decoration
        .decoration__img
            +size(400px, auto)

@media screen and ( max-width: 768px)
    .hero .hero__content .hero__content__title #br2
        display: block

@media screen and (min-width: 1117px)
    .hero .decoration
        .decoration__glow
            +size(414px, auto)
        .decoration__img
            +size(558px, auto)
