@import '../../common'

.hero
    position: relative
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    *
        // outline: 2px dashed green
    .decoration
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1
        .decoration__glow, .decoration__img
            position: absolute
            top: 0
            right: 0
        .decoration__img
            transform: rotate(180deg)
    .hero__content
        padding: 0 0 2rem 0
        +flex(start, start, column, 0.5rem)
        .hero__content__title
            #br2
                display: none
    .hero__offer
        overflow: visible
        .footer
            margin-top: 0.5rem
            +flex(start, center, row, 5px)
            flex-wrap: wrap
            img
                +size(0.8rem, 0.8rem)
            .timer
                font-size: inherit
                display: inline-block

@media screen and (max-width: 550px)
    .hero .decoration
        .decoration__glow
            top: -20% !important
        .decoration__img
            +size(400px, auto)
            transform: rotate(180deg) !important
            right: -15% !important

@media screen and (max-width: 390px)
    .hero .decoration
        .decoration__img
            +size(350px, auto)

@media screen and (min-width: 550px)
    .hero .decoration
        .decoration__img
            +size(400px, auto)

@media screen and ( max-width: 768px)
    .hero .hero__content .hero__content__title #br2
        display: block

@media screen and (min-width: 1117px)
    .hero .decoration
        .decoration__glow
            +size(414px, auto)
        .decoration__img
            +size(558px, auto)
