@import '../../common'

.label
    // background-color: $gray
    border: 3px solid lighten($gray, 5%)
    border-radius: 10px
    +flex(start, center, row, 0.5rem)
    padding: 0.65rem
    .label__icon
        flex-shrink: 0
        color: $primary-blue
        +size(1.3rem, 1.3rem)
