//normalization
*, *::before, *::after
    margin: 0
    padding: 0

    -webkit-box-sizing: border-box
    box-sizing: border-box

    overflow-x: hidden

    outline: none

*::moz-focus-inner
    border: 0

html
    width: 100%
    height: 100%

    height: -webkit-fill-available
    height: -webkit-stretch

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

ul
    list-style-type: none
